{% extends "base.html" %}
{% load static %}

{% block stylesheets %}
<link rel="stylesheet" type="text/css" href="{% static 'news/styles.css' %}">
{% endblock %}

{% block content %}
    
    <h2>Latest News</h2>

    <div id="latest-stories">
        {% if latest_stories %}
            {% for story in latest_stories %}
                {% include "./storyCard.html" with story=story position=forloop.counter %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <h2>Sort by author</h2>
    <div id="by-author">
        <form  action="{% url 'news:newStory' %}" method="get">
            <div class="form-group"></div>
            <label for="select-author">Author</label>
            <select id="select-author" class="form-control">
                <option selected>Choose Author...</option>
                <option> {{ author }}</option>
            </select>
        </form>
        {% if username %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with author=username %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

    <h2>All Stories</h2>

    <div id="all-stories">
        {% if latest_stories %}
            {% for story in all_stories %}
                {% include "./storyCard.html" with story=story %}
            {% endfor %}
        {% else %}
            <p>No stories are available.</p>
        {% endif %}
    </div>

{% endblock %}